body{
    margin: 0;
    padding: 0;
    min-width: 100%;
}

html{
    min-width: 100%;
}

*{
    font-family: 'Urbanist', sans-serif;
}

/* Navegador */
nav{
    background-color: #130C44;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 147px 0 30px;
}

.burger{
    display: none;
}

.cont-menu{
    position: absolute;
    left: -1000px;
}

nav a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
}

.nav-cont{
    height: 100%;
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.logo{
    height: 63px;
    width: 162px;
    background-color: rgba(255, 255, 255, 0.25);;
}

/* REGISTRAME */
.registrame{
    height: 702px;
    background: radial-gradient(1002.95% 6417.62% at -15.76% 5.44%, #136E82 0%, #3959A3 45.09%, #182848 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

h1{
    margin: 0;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.registrame button{
    border: none;
    background-color: #FDA700;
    font-size: 36px;
    font-weight: 700;
    border-radius: 10px;
    padding: 7px 30px;
    margin-top: 40px;
}

.tit-reg{
    text-align: center;
}

/* ENCARGAMOS */
#encargamos{
    background-color: #130C44;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 49px;
}

.enc-bx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 82px;
    margin-top: 40px;
}

h2{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}

.encargamos h2{
    max-width: 410px;
}

.enc-cont p{
    max-width: 446px;
    font-size: 20px;
    font-weight: 400;
}

.encargamos dd{
    margin: 0;
    font-size: 16px;
}

.encargamos dt{
    font-size: 20px;
    font-weight: 700;
}

.enc-bx > img{
    height: 364px;
}

.compra-cont{
    display: flex;
    align-items: center;
    column-gap: 44px;
    margin-bottom: 46px;
}

.compra{
    min-width: 48px;
    width: 48px;
    height: 48px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FDA700;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* QUIENES SOMOS*/
.quienesSomos{
    background-color: #1B335F;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 30px;
}

.tit-somos{
    margin: 75px 0 29px 0;
}

.tit-somos p{
    font-size: 20px;
    font-weight: 400;
}

.people{
    background-color: #130C44;
    border-radius: 10px;
    padding: 24px 24px;
    margin-bottom: 67px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
}

.retrato p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.desc{
    min-width: 350px;
}

.desc dt{
    font-size: 20px;
    font-weight: 700;
    color: #FDA700;
    padding-bottom: 5px;
}

.desc dd{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.exp{
    margin-top: 20px;
}

dl{
    margin: 0;
}

/* PRESENCIA GLOBAL */
.presenciaGlobal{
    background-color: #130C44;
}

.tit-global{
    margin: 48px 0 25px 0;
}

.tit-global p{
    font-size: 20px;
    font-weight: 400;
}

.presencia-bx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 63px;
    margin-bottom: 56px;
}

.presencia p{
    font-size: 20px;
    font-weight: 700;
    color: #FDA700;
    margin: 0;
}

.presencia ul{
    margin: 5px 0;
    padding-left: 20px;
}

.presencia li{
    font-size: 16px;
    font-weight: 400;
}

.presencia{
    border-left: 6px solid #FDA700;
    padding: 7px 0 7px 19px;
    margin-bottom: 32px;
}

.presencia:first-child{
    margin-top: 31px;
}

.coleccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    max-width: 1138px;
    margin-bottom: 65px;
}

.coleccion > div{
    height: 274px;
    width: 274px; 
    position: relative;
}

.location{
    font-size: 20px;
    font-weight: 700;
}

.atron{
    font-size: 16px;
    font-weight: 400;
}

.atron u{
    text-decoration-color: #FDA700;
}

.description{
    position: absolute;
    bottom: 22px;
    left: 16px;
}

.description p{
    margin: 0;
}

.hover{
    background-color: rgba(56,53,53,0.568);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 50ms;
    visibility: hidden;
    opacity: 0;
}

.pre:hover .hover{
    opacity: 1;
    visibility: visible;
}

.pre img{
    border-radius: 10px;
}

/* ENERGIAS RENOVABLES*/
#energiasRenovables{
    background-color: #1B335F;
}

.energiasRenovables{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    padding: 51px 0 62px 0;
}

.ener-box .tit-ener{
    font-size: 20px;
}

.ener-box p{
    font-size: 16px;
    font-weight: 400;
}

.ener-box h4{
    font-size: 20px;
    font-weight: 700;
    color: #FDA700;
}

.ener-box{
    max-width: 563px;
}

.ener-box img{
    margin-top: 50px;
}

/* RED GLOBAL */
#redGlobal{
    background-color: #130C44;
}

.redGlobal{
    padding: 61px 0;
}

.redGlobal h2{
    max-width: 562px;
    margin-bottom: 34px;
}

.facts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 18px;
    row-gap: 23px;
    max-width: 1236px;
    margin-bottom: 92px;
}

.fact{
    max-width: 368px;
    padding: 27px 16px 16px 16px;
    border-radius: 10px;
    width: 100%;
}

.fact:hover{
    background-color: #1B335F;
}

.fact p{
    font-size: 16px;
    margin: 0;
}

.fact h5{
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0 7px 0;
}

.marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

/* ESTRUCTURA DE INVERSION */
#estructura{
    background-color: #1B335F;
    padding-top: 68px;
    padding-bottom: 24px;
}

.estructura h2{
    margin-bottom: 38px;
    max-width: 446px;
}

.estuc-inf{
    display: flex;
    column-gap: 24px;
    margin-bottom: 41px;
}

.n-pres{
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FDA700;
    color: #130C44;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.pres{
    width: auto;
    max-width: 1032px;
}

dt{
    font-size: 20px;
    font-weight: 700;
}

dd{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: auto;
}

/* RETORNO POR ALGORITMO */
#retornoAlgoritmo{
    background-color: #130C44;
    color: #fff;
    padding: 61px 0 85px 0;
}

/* PREGUNTAS FRECUENTES */
#preguntasFrecuentes{
    background-color: #130C44;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 72px;
    padding-bottom: 56px;
}

/* OTROS SERVICIOS */
#otrosServicios{
    background-color: #130C44;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 38px;
    padding-bottom: 80px;
}

.tit-serv p{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.tit-serv h2{
    margin-bottom: 7px;
}

.tit-serv{
    margin-bottom: 99px;
}

.pasos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 52px;
    row-gap: 111px;
    max-width: 1270px;
}

.paso{
    max-width: 547px;
    padding: 34px 31px;
    background-color: #1B335F;
    border-radius: 10px;
}

.paso h5{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.paso p{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/* CONTACTO*/
#contacto{
    background-color: #130C44;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 35px;
    padding-bottom: 119px;
}

.contactos-bx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 114px;
    margin-top: 69px;
}

.img-info{
    width: 48px;
     height: 48px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#FDA700;
     display: flex;
     justify-content: center;
     align-items: center;
}

.info{
    display: flex;
    column-gap: 24px;
    margin-bottom: 100px;
}

.info p{
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

input{
    width: 447px;
    margin-bottom: 30px;
    padding: 27px 19px;
    border-radius: 10px;
    background-color: #1B335F;
    color: rgba(255, 255, 255, 0.25);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

textarea{
    width: 447px;
    height: 254px;
    padding: 27px 19px;
    border-radius: 10px;
    background-color: #1B335F;
    color: rgba(255, 255, 255, 0.25);
    border: none;
    font-size: 20px;
    font-weight: 700;
    resize: none;
    margin-bottom: 30px;
}

.contactos button{
    border: none;
    border-radius: 10px;
    background-color: #FDA700;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 0;
    width: 265px;
}

.linea{
    border: 1px solid #FDA700;
    width: 90%;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #130C44;
}

footer{
    font-size: 16px;
    font-weight: 400;
    color: #BECDE3;
    text-align: center;
    padding: 30px 0 65px 0;
    background-color: #130C44;
}

/* PREGUNTAS FRECUENTES */
.preguntas-cont{
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 102px;
}

.tabs{
    max-width: 570px;
}

.tabs-tit{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    padding: 4px;
    column-gap: 26px;
    margin-bottom: 35px;
}

#apartado1, #apartado2, #apartado3{
    cursor: pointer;
    padding-bottom: 5px;
}

.answer{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    max-width: 488px;
    display: none;
}

.question-bx{
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
}

.question{
    font-size: 20px;
    font-weight: 700;
    max-width: 488px;
}

.btn{
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #BECDE3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#q1, #q2, #q3, #q4, #q5{
    border-bottom: 1px solid #BECDE3;
}

#apt2{
    display: none;
}

#apt3{
    display: none;
}

.active{
    border-bottom: 2px solid #FDA700;
}

.replegar{
    background-color: #FDA700;
}

.principio{
    background-color: #FDA700;
    border: none;
    border-radius: 10px;
    height: 67px;
    position: fixed;
    right: -100px /*53px*/;
    bottom: 63px;
    transition: 500ms;
}

@media (max-width: 1200px){
    nav{
        padding: 0 20px 0 20px;
        justify-content: left;
        justify-content: center;
    }

    .burger{
        display: block;
        position: absolute;
        top: 17px;
        left: 20px;
    }

    .nav-list{
        display: none;
    }

    .burger > img{
        height: 60px;
    }

    .active-menu{
        left: 0;
        transition: 500ms;
    }

    .no-scroll{
        position: fixed;
        width: 100%;
    }

    .cont-menu{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #130C44;
        top: 88px;
        transition: 50ms;
    }

    .cont-menu ul{
        list-style-type: none;
        padding-left: 20px;
    }

    .cont-menu li{
        padding-bottom: 40px;
    }

    .cont-menu a{
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
    }
}

@media (max-width: 700px){
    .enc-bx > img{
        height: auto;
        width: 300px;
    }
    .presencia-cont > img{
        width: 400px;
    }
}

@media (max-width: 600px){
    .registrame{
        height: 450px;
    }

    h1{
        font-size: 30px;
    }

    .registrame button, .info p{
        font-size: 26px;
    }

    h2{
        font-size: 25px;
    }

    .p-h, h4, dt, .presencia p, .tabs-tit, .question, h5 {
        font-size: 16px !important;
    }

    li, dd, .ener-box p, .answer, .paso p, .fact p{
        font-size: 13px !important;
    }

    .ener-box > img, .question > img, .presencia-cont > img{
        width: 300px;
    }   

    input, textarea{
        width: 300px !important;
    }

    .compra-cont{
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        text-align: center;
    }

    .estuc-inf{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        text-align: center;
    }
}

@media (max-width: 500px){
    .desc{
        min-width: 250px !important;
    }

    input, textarea{
        width: 250px !important;
    }

    .info p{
        font-size: 20px;
    }

    .info{
        align-items: center;
    }

    .main{
        padding: 0 10px;
    }
}

@media (max-width: 400px){
    .registrame button{
        font-size: 20px;
    }
}