<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-cont">
            <div class="logo">
                <img src="" alt="">
            </div>
        </div>
        <div class="nav-cont nav-list">
                <div>
                    <a href="">¿Quiénes somos?</a>
                </div>
                <div>
                    <a href="">Minerías</a>
                </div>
                <div>
                    <a href="">Inversión</a>
                </div>
                <div>
                    <a href="">Preguntas Frecuentes</a>
                </div>
                <div>
                    <a href="">Otros servicios</a>
                </div>
                <div>
                    <a href="">Registrame</a>
                </div>
        </div>
    </nav>
    <div class="registrame">
        <div class="tit-reg">
            <h1>
                Servicios de administración de minería
            </h1>
            <button>
                Registrame ahora
            </button>
        </div>
    </div>
    <div class="main encargamos">
        <div class="enc-bx">
            <div class="enc-cont">
                <h2>
                    Nosotros nos encargamos de todo
                </h2>
                <p>
                    Contamos con amplia experiencia en compra y administración de activos de minería
                </p>    
            </div>
            <div class="enc-cont">
                <div class="compra-img">
                    <img src="" alt="">
                </div>
                <div class="compra-cont">
                    <dl>
                        <dt>
                            Compra
                        </dt>
                        <dd>
                            Compra de los equipos a los mejores precios y directamente con los fabricantes.
                        </dd>
                        <dt>
                            Infraestructura
                        </dt>
                        <dd>
                            Infraestructura e instalación eléctrica, contrato de suministro con compañía eléctrica.
                        </dd>
                        <dt>
                            Instalación 
                        </dt>
                        <dd>
                            Instalación, configuración, operación y mantenimineto de los equipos de minería.
                        </dd>
                        <dt>
                            Contaduría 
                        </dt>
                        <dd>
                            Contaduría y distribución de ingresos mensuales
                        </dd>
                        <dt>
                            Entrega
                        </dt>
                        <dd>
                            Entrega o venta del equipo obsoleto.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="enc-bx">
            <img src="img/nosotrosEncargamos.png" alt="">
        </div>
    </div>
    <div class="main quienesSomos">
        <div class="quienesSomos">
            <div class="tit-somos">
                <h2>
                    ¿Quiénes somos?
                </h2>
                <p>
                    Creada en 2019, comenzamos con 23 equipos ASIC para minero de Ethereum (ETH) instalados en Monterrey
                </p>
            </div>
            <div class="people">
                <div class="retrato">
                    <img src="img/eduardoElizondo.png" alt="">
                    <p>
                        CEO Eduardo Elizondo
                    </p>
                </div>
                <div class="desc">
                    <dl>
                        <dt>
                            Estudios
                        </dt>
                        <dd>
                            Ingeniería Industrial y de Sistemas del Instituto Tecnológico (ITESM)
                        </dd>
                        <dd>
                            Maestría (MEDEX) de Dirección de Empresas para Ejecutivos con Experiencia en el Instituto Panamericano de Alta Dirección de Empresa (IPADE)
                        </dd>
                        <dt class="exp">
                            Experiencia
                        </dt>
                        <dd>
                            2 años de experiencia en casa de bolsa IXE 
                        </dd>
                        <dd>
                            15 años emprendiendo en negocios diferentes giros: Alimentos, Automatización, Teconología
                        </dd>
                        <dd>
                            5 años en dirección de Trophe 
                        </dd>
                        <dd>
                            15 años como fundador y propietario de BlueChip/AAT soluciones de sonido, seguridad y automatización Distribuidor exclusivo de Klipsch y Bose
                        </dd>
                        <dd>
                            3 años de instalación, operación y reinversión en activos de cripto minería en México, EEUU y Venezuela.
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="people">
                <div class="retrato">
                    <img src="img/alejandroParedes.png" alt="">
                    <p>
                        CFO & COO <br> Alejandro Paredes 
                    </p>
                </div>
                <div class="desc">
                    <dl>
                        <dt>
                            Estudios
                        </dt>
                        <dd>
                            Ingeniería en Investigación de Operaciones de la Universidad de Cornell
                        </dd>
                        <dd>
                            Maestría (MBA) en Finanzas e Inversiones Internacionales en la escuela de negocios de Wharton
                        </dd>
                        <dt class="exp">
                            Experiencia
                        </dt>
                        <dd>
                            11 años en Planeación Financiera y Estratégica en Cemex; basado en México, Espeña, Reino Unido y EEUU
                        </dd>
                        <dd>
                            4 años en Planeación Financiera, Copex y Controlaría para la infraestructura de la nube de Microsoft
                        </dd>
                        <dd>
                            18 años de manejo de portafolios de inverción en bolsa, bienes raíces en México y EEUU, y prácticas profesionales en la banca privada de JPMorgan
                        </dd>
                        <dd>
                            3 años de instalación, operación y reinversión en activos de cripto minería en México, EEUU y Venezuela.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="main presenciaGlobal">
        <div class="presenciaGlobal">
            <div class="tit-global">
                <h2>
                    Presencia Global
                </h2>
                <p>
                    Actualmente contamos con 200+ equipos en 4 minas, diversificadas geográficamente y entre varios algoritmos
                </p>
            </div>
            <div class="presencia-bx">
                <div class="presencia-cont">
                    <div class="presencia">
                        <p>
                            Kentucky
                        </p>
                        <ul>
                            <li>
                                Proyecto de Solminer
                            </li>
                            <li>
                                0.5 MW expandibles a 8.0 MW
                            </li>
                            <li>
                                Participación del ~12% de la capacidad
                            </li>
                            <li>
                                Minería con GPUs (Flexibilidad total entre algoritmos)
                            </li>
                        </ul>
                    </div>
                    <div class="presencia">
                        <p>
                            Pennsylvania
                        </p>
                        <ul>
                            <li>
                                Proyecto de Blockware Minnig
                            </li>
                            <li>
                                5.0 MW
                            </li>
                            <li>
                                Participación del ~2.5% de la capacidad
                            </li>
                            <li>
                                Minería de SHA-256 y Equihash
                            </li>
                        </ul>
                    </div>
                    <div class="presencia">
                        <p>
                            Santa Catarina
                        </p>
                        <ul>
                            <li>
                                Atron dueño de 100% de los activos
                            </li>
                            <li>
                                0.5 MW expandibles a 2.5 MW
                            </li>
                            <li>
                                Minería de SHA-256, Ethash, Equihash, Scrypt, e Eaglesong
                            </li>
                        </ul>
                    </div>
                    <div class="presencia">
                        <p>
                            Caracas
                        </p>
                        <ul>
                            <li>
                                Proyecto Privado
                            </li>
                            <li>
                                4.0 MW 
                            </li>
                            <li>
                                Participación del 5% de la capacidad
                            </li>
                            <li>
                                Minería de SHA-256 (BTC) exclusivamente usando equipos obsoletos
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="presencia-cont">
                    <img src="img/presenciaGlobal.png" alt="">
                </div>
            </div>
            <div class="coleccion">
                <div class="pre presencia-1">
                    <img src="img/presencia1.png" alt="">
                    <div class="hover">
                        <div class="description">
                            <p class="location">
                                Santa Catarina
                            </p>
                            <p class="atron">
                                <u>Atron</u>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pre presencia-2">
                    <img src="img/presencia2.png" alt="">
                    <div class="hover">
                        <div class="description">
                            <p class="location">
                                Santa Catarina
                            </p>
                            <p class="atron">
                                <u>Atron</u>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pre presencia-3">
                    <img src="img/presencia3.png" alt="">
                    <div class="hover">
                        <div class="description">
                            <p class="location">
                                Santa Catarina
                            </p>
                            <p class="atron">
                                <u>Atron</u>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pre presencia-4">
                    <img src="img/presencia4.png" alt="">
                    <div class="hover">
                        <div class="description">
                            <p class="location">
                                Santa Catarina
                            </p>
                            <p class="atron">
                                <u>Atron</u>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pre presencia-5">
                    <img src="img/presencia5.png" alt="">
                    <div class="hover">
                        <div class="description">
                            <p class="location">
                                Santa Catarina
                            </p>
                            <p class="atron">
                                <u>Atron</u>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pre presencia-6">
                    <img src="img/presencia6.png" alt="">
                    <div class="hover">
                        <div class="description">
                            <p class="location">
                                Santa Catarina
                            </p>
                            <p class="atron">
                                <u>Atron</u>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pre presencia-7">
                    <img src="img/presencia7.png" alt="">
                    <div class="hover">
                        <div class="description">
                            <p class="location">
                                Santa Catarina
                            </p>
                            <p class="atron">
                                <u>Atron</u>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pre presencia-8">
                    <img src="img/presencia8.png" alt="">
                    <div class="hover">
                        <div class="description">
                            <p class="location">
                                Santa Catarina
                            </p>
                            <p class="atron">
                                <u>Atron</u>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="energiasRenovables" class="main">
        <div class="energiasRenovables">
            <div class="ener-box">
                <h2>
                    Energías Renovables
                </h2>
                <p class="tit-ener">
                    Buscamos Soluciones renovables en cada desarrollo
                </p>
                <h4>
                    Caso Kentucky
                </h4>
                <p>
                    La presa Kentucky tiene 63 m de altura; más de la mitad de la presa está sumergida en agua. Con 2567 m de largo, Kentucky Dam es la presa más larga del río Tennessee y la más larga del sistema TVA.
                </p>
                <p>
                    La presa tiene una capacidad de generación de 223.100 kilovatios y su aliviadero de 24 bahías tiene una descarga total de 1.050.000 pies cúbicos por segundo (30.000 m3/s). Los 3,322 km de costa del lago Kentucky, las 160,300 acres (64,900 ha) de superficie de agua y los 4,008,000 acres-pie (4,944 GI) de almacenamiento de inundaciones son la mayor cantidad de cualquier lago en el sistema TVA.
                </p>
            </div>
            <div class="ener-box">
                <img src="img/energiaRenovable.png" alt="">
            </div>
        </div>
    </div>
    <div id="redGlobal" class="main">
        <div class="redGlobal">
            <h2>
                Red global con acceso aprecios competitivos
            </h2>
            <div class="facts">
                <div class="fact">
                    <img src="img/fan.png" alt="">
                    <h5>
                        +100k en equipo
                    </h5>
                    <p>
                        Hemos comprado $100,000 de dólares en equipos de minería con los principales fabricantes.
                    </p>
                </div>
                <div class="fact">
                    <img src="img/price.png" alt="">
                    <h5>
                        Mejores Precios
                    </h5>
                    <p>
                        Obtenemos los mejores precios  por nuestro historial y capacidad de completar pedidos grandes.
                    </p>
                </div>
                <div class="fact">
                    <img src="img/accionista.png" alt="">
                    <h5>
                        Accionista
                    </h5>
                    <p>
                        Como accionistas minoritarios de SOLMiner, tenemos acceso a un site que presentemente opera una mina de GPUs.
                    </p>
                </div>
                <div class="fact">
                    <img src="img/bodegas.png" alt="">
                    <h5>
                        Bodegas
                    </h5>
                    <p>
                        A partir de noviembre/diciembre esta mina se cambiará a otro site de 8 MW y tendremos acceso a la bodega presente.
                    </p>
                </div>
                <div class="fact">
                    <img src="img/electric.png" alt="">
                    <h5>
                        Capacidad
                    </h5>
                    <p>
                        Capacidad de hasta 1.0 MW, equivalente a ~200 mineros.
                    </p>
                </div>
                <div class="fact">
                    <img src="img/energiaLimpia.png" alt="">
                    <h5>
                        Energía limpia
                    </h5>
                    <p>
                        Energía hidroelectrica 100% renovable.
                    </p>
                </div>
            </div>
            <div class="marcas">
                <div class="marca">
                    <img src="img/bitman.png" alt="">
                </div>
                <div class="marca">
                    <img src="img/innosilicon.png" alt="">
                </div>
                <div class="marca">
                    <img src="img/goldshell.png" alt="">
                </div>
                <div class="marca">
                    <img src="img/microbt.png" alt="">
                </div>
                <div class="marca">
                    <img src="img/canaan.png" alt="">
                </div>
                <div class="marca">
                    <img src="img/jasminer.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="estructura" class="main">
        <div class="estructura">
            <h2>
            Estructura de la inversión y comisiones
        </h2>
        <div class="estruc-list">
            <img src="" alt="">
        </div>
        <div class="estruc-cont">
            <dl>
                <dt>
                    Préstamo
                </dt>
                <dd>
                    Sociedad Anónima de Capital Variable (SA de CV) recibe un préstamo de parte de los inversionistas (mínimo US$50,000 por inversionista) Se firma contrato del préstamo con certificación del notario  y un pagaré.
                </dd>
                <dt>
                    Contrato
                </dt>
                <dd>
                    El préstamo se utiliza para adquisición de equipo de minería (>90%), infraestructura e instalación eléctrica (&#8249;10%).
                </dd>
                <dt>
                    Firma
                </dt>
                <dd>
                    Inversionistas además firman un contrato de operación.
                </dd>
                <dt>
                    Ingreso
                </dt>
                <dd>
                    El 100% del ingreso se paga mensualmente a los inversionistas después de cubrir el costo variable de USD$0.09 por kilowatt-hora (incluye renta de la bodega, costo de electricidad conectividad, sueldos y refacciones), Nosotros cobramos CERO hasta que el retorno de inversión sea del 100% a partir de ahí cobramos el 25% de las ganancias después de pagar electricidad.
                </dd>
                <dt>
                    Tipo de pago
                </dt>
                <dd>
                    Todos los pagos se hacen en criptomonedas estables (valor fijo en dólares).
                </dd>
                <dt>
                    Ajuste
                </dt>
                <dd>
                    Una vez saldado el préstamo, la comisión por el contrato de operación se fija en 20% de los ingresos después del costo varibale.
                </dd>
                <dt>
                    ROI
                </dt>
                <dd>
                    Retorno esperado sobre inversión es de 12 a 24 meses usando rentabilidad presente.
                </dd>
            </dl>
        </div>
        </div>
    </div>
    <div id="retornoAlgoritmo">
        <div class="retornoAlgoritmo">
            <h2>
                Retorno en meses por algoritmo
            </h2>
        </div>
        <!--PENDIENTe-->
    </div>
    <div id="preguntasFrecuentes" class="main">
        <div class="preguntasFrecuentes">
            <h2>
                Preguntas Frecuentes
            </h2>
        </div>

    </div>
    <div id="otrosServicios" class="main">
        <div class="otrosServicios">
            <div class="tit-serv">
                <h2>
                    Otros Servicios
                </h2>
                <p>
                    Además de hosteo de equipos de minería, también podemos proveer consultoría para tu propio proyecto de minería.
                </p>
                <p>
                    Te podemos ayudar con cualquiera de los 4 pasos necesarios:
                </p>
            </div>
            <div class="pasos">
                <div class="paso">
                    <h5>
                        Diseño de la instalación electrica de alta tensión:
                    </h5>
                    <p>
                        Hemos comprado $100,000s de dólares en equipos de minería con los principales fabricantes.
                    </p>
                </div>
                <div class="paso">
                    <h5>
                        Fabricación del contenedor o adecuación del site donde se instalarán los equipos:
                    </h5>
                    <p>
                        Una vez que esté lista la instalación eléctrica y la estructura que guarda los equipos, se instalan repisas metálicas y se distribuyen los cables de baja tensión a los contactos. Además se instalan cables para dar a cada minero acceso a la red. Este trabajo también lo podemos hacer nosotros o trabajar con alguien más que el cliente elija.
                    </p>
                </div>
                <div class="paso">
                    <h5>
                        Fabricación del contenedor o adecuación del site donde se instalarán los equipos:
                    </h5>
                    <p>
                        Nosotros preferimos trabajar con contenedores marítimos, pues son fáciles de transportar, modificar, y fácil de adecuar para maximizar el flujo de aire 	fresco.  Podemos conseguir y modificar un contenedor o referirte con un vendedor/fabricante.  Podemos trabajar en naves industriales o bodegas, pero 	adecuar estos lugares generalmente es más caro y requiere hacer muchas perforaciones a los muros para evitar que los equipos se sobrecalienten.

                    </p>
                </div>
                <div class="paso">
                    <h5>
                        Fabricación del contenedor o adecuación del site donde se instalarán los equipos:
                    </h5>
                    <p>
                        Podemos conseguir casi cualquier equipo de minería (nuevo o usado) de los principales fabricantes.  Otra ventaja de hacer este proceso con nosotros es que generalmente nos otorgan descuentos por el volumen que manejamos.  Una vez que se haya acordado cuál o cuáles modelos de equipos comprar, nosotros nos encargamos de la importación, instalación, configuración y finalmente la capacitación al personal que vaya a operar la mina.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="contacto" class="main">
        <div class="contacto">
            <h2>
                Contacto
            </h2>
            <div class="contactos-bx">
                <div class="contactos">
                    <div class="info">
                        <div class="img-info">
                            <img src="img/phone.png" alt="">
                        </div>
                        <p>
                            123-45-67-890
                        </p>
                    </div>    
                    <div class="info">
                        <div class="img-info">
                            <img src="img/mail.png" alt="">
                        </div>
                        <p>
                            contacto@atron.mx
                        </p>
                    </div>    
                    <div class="info">
                        <div class="img-info">
                            <img src="img/location.png" alt="">
                        </div>
                        <p>
                            Santa Catarina S/N. 
                        </p>
                    </div>    
                </div>
                <div class="contactos">
                    <div class="input">
                        <input type="text" placeholder="Nombre completo">
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Correo electrónico">
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Celular">
                    </div>
                    <div class="input">
                        <textarea cols="30" rows="10" placeholder="Mensaje"></textarea>
                    </div>
                    <button>
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="linea"></div>
    </div>
    <footer>
        <p>
            Copyright © 2022. Todos los derechos reservados
        </p>
    </footer>
</body>
</html>